In [0]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')


import keras
from keras.models import Sequential
from keras.layers import Conv2D, Dense, Flatten, MaxPooling2D, Dropout,Activation,LSTM
from keras.callbacks import EarlyStopping
from keras.losses import sparse_categorical_crossentropy
from keras.optimizers import SGD
from sklearn.svm import *
from sklearn.linear_model import LogisticRegression


# #Notif sound
# from google.colab import output
# def notif():
#   output.eval_js('new Audio("https://notificationsounds.com/message-tones/appointed-529/download/mp3").play()')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

Using TensorFlow backend.

In [0]:
from zipfile import ZipFile 
file_name = "drive/My Drive/train.csv.zip"
  
# # opening the zip file in READ mode 
with ZipFile(file_name, 'r') as zipF: 
    # printing all the contents of the zip file 
    zipF.printdir() 
  
    # extracting all the files 
    print('Extracting all the files now...') 
    data = zipF.extract('train.csv') 
    print('Done!')

file_name = "drive/My Drive/test.csv.zip"
  
# # opening the zip file in READ mode 
with ZipFile(file_name, 'r') as zipF: 
    # printing all the contents of the zip file 
    zipF.printdir() 
  
    # extracting all the files 
    print('Extracting all the files now...') 
    data = zipF.extract('test.csv') 
    print('Done!')

File Name                                             Modified             Size
train.csv                                      2020-02-09 10:27:26     77009507
Extracting all the files now...
Done!
File Name                                             Modified             Size
test.csv                                       2020-02-09 10:27:26     24378147
Extracting all the files now...
Done!

In [0]:
import pandas as pd
train_df = pd.read_csv('train.csv', index_col=0)

from sklearn.model_selection import train_test_split
# Split test and train data
# df_train = train_df.fillna(train_df.median())


# df_train['opened_position_qty '].fillna((df_train['transacted_qty']), inplace=True)

# df_train['closed_position_qty'].fillna((0), inplace=True)
df_train = train_df.fillna(train_df.median())

# df_train['closed_position_qty'].fillna((df_train['transacted_qty'] / 2), inplace=True)


df_train['diff'] = (df_train['last_price'] - df_train['mid'])
df_train['avg_bid'] = (df_train['bid1'] * df_train['bid1vol'] + df_train['bid2'] * df_train['bid2vol'] + df_train['bid3'] * df_train['bid3vol'] + df_train['bid4'] * df_train['bid4vol'] + df_train['bid5'] * df_train['bid5vol']) / (df_train['bid1vol'] + df_train['bid2vol'] + df_train['bid3vol'] + df_train['bid4vol'] + df_train['bid5vol'])
df_train['avg_ask'] = (df_train['ask1'] * df_train['ask1vol'] + df_train['ask2'] * df_train['ask2vol'] + df_train['ask3'] * df_train['ask3vol'] + df_train['ask4'] * df_train['ask4vol'] + df_train['ask5'] * df_train['ask5vol']) / (df_train['ask1vol'] + df_train['ask2vol'] + df_train['ask3vol'] + df_train['ask4vol'] + df_train['ask5vol'])
df_train['diff_avg_bid'] = (df_train['mid'] - df_train['avg_bid'])
df_train['diff_avg_ask'] = (df_train['mid'] - df_train['avg_ask'])


# df_train['effective_spread'] = ((df_train['last_price'] - df_train['mid']) / df_train['mid'] )
# df_train['quoted_spread'] = (100 * (df_train['ask1'] - df_train['bid1']) / df_train['mid'] )
#df_train['diff_avg_bid_ask'] = (df_train['avg_ask'] - df_train['avg_bid'])
#X = df_train.drop('y', axis=1)


# X = df_train.drop(['id', 'y', 'bid1', 'bid2', 'bid3', 'bid4', 'bid5', 'ask1', 'ask2','ask3','ask4','ask5'], axis=1)

y = df_train['y']


X_train, X_test, y_train, y_test = train_test_split(df_train, y, test_size=0.2, random_state=0)

In [0]:
X_train.columns

Index(['last_price', 'mid', 'opened_position_qty ', 'closed_position_qty',
       'transacted_qty', 'd_open_interest', 'bid1vol', 'bid2vol', 'bid3vol',
       'bid4vol', 'bid5vol', 'ask1vol', 'ask2vol', 'ask3vol', 'ask4vol',
       'ask5vol', 'diff', 'avg_bid', 'avg_ask', 'diff_avg_bid',
       'diff_avg_ask'],
      dtype='object')

In [0]:

df = pd.DataFrame() 
df['ab'] = X_train['avg_bid']
df['aa'] = X_train['avg_ask']
df['dab'] = X_train['diff_avg_bid']
df['daa'] = X_train['diff_avg_ask']
df['diff'] = X_train['diff']



df['best_offer_vol_diff'] = X_train['bid1vol'] - X_train['ask1vol']
df['avg_best_offer'] = (X_train['bid1'] * X_train['bid1vol'] + X_train['ask1'] * X_train['ask1vol']) / (X_train['bid1vol'] + X_train['ask1vol'])
df['mid_avg_best_offer_diff'] = X_train['mid'] - df['avg_best_offer']
df['last_price_avg_best_offer_diff'] = X_train['last_price'] - df['avg_best_offer']




df_test = pd.DataFrame() 
df_test['ab'] = X_test['avg_bid']
df_test['aa'] = X_test['avg_ask']
df_test['dab'] = X_test['diff_avg_bid']
df_test['daa'] = X_test['diff_avg_ask']
df_test['diff'] = X_test['diff']


df_test['best_offer_vol_diff'] = X_test['bid1vol'] - X_test['ask1vol']
df_test['avg_best_offer'] = (X_test['bid1'] * X_test['bid1vol'] + X_test['ask1'] * X_test['ask1vol']) / (X_test['bid1vol'] + X_test['ask1vol'])
df_test['mid_avg_best_offer_diff'] = X_test['mid'] - df_test['avg_best_offer']
df_test['last_price_avg_best_offer_diff'] = X_test['last_price'] - df_test['avg_best_offer']

In [0]:
df = df.drop(['aa','ab','avg_best_offer'],axis=1)

In [0]:

df_test = df_test.drop(['aa','ab','avg_best_offer'],axis=1)

In [0]:
df

             dab  ...  last_price_avg_best_offer_diff
id                ...
87249   0.588889  ...                        0.022222
184693  0.598462  ...                        0.175000
571316  0.393333  ...                       -0.266667
146937  1.085714  ...                        0.040000
434363  0.918182  ...                        0.040000
...          ...  ...                             ...
359783  0.314286  ...                       -0.044444
152315  0.640000  ...                       -0.342857
117952  0.600000  ...                        0.100000
435829  0.435714  ...                        0.175000
305711  1.019048  ...                       -0.280000

[473904 rows x 6 columns]

In [0]:
from sklearn.ensemble import GradientBoostingClassifier,VotingClassifier,RandomForestClassifier,AdaBoostClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier

In [0]:
clf1 = GradientBoostingClassifier()
clf2 = RandomForestClassifier()
# clf3 = GaussianNB()
clf4 = AdaBoostClassifier()
clf5 = LGBMClassifier()
clf6 = XGBClassifier()
eclf1 = VotingClassifier(estimators=[('gb', clf1), ('rf', clf2), ('ada', clf4),('lgbm', clf5),('xgb', clf6)], voting='soft')
eclf1 = eclf1.fit(df, y_train)

In [0]:
eclf1.score(df_test,y_test)

0.6633326580910902

In [0]:
y_probs = eclf1.predict_proba(df_test)

In [0]:
y_probs = eclf1.predict_proba(df_test)
from sklearn.metrics import  roc_auc_score

roc_auc_score(y_test,y_probs[:,1])

0.656703223162583

In [0]:
len(y)

592380

# TEsting

In [0]:
import pandas as pd
test_df = pd.read_csv('test.csv')

# from sklearn.model_selection import test_test_split
df_test = test_df.fillna(test_df.median())
df_test['diff'] = (df_test['last_price'] - df_test['mid'])
df_test['avg_bid'] = (df_test['bid1'] * df_test['bid1vol'] + df_test['bid2'] * df_test['bid2vol'] + df_test['bid3'] * df_test['bid3vol'] + df_test['bid4'] * df_test['bid4vol'] + df_test['bid5'] * df_test['bid5vol']) / (df_test['bid1vol'] + df_test['bid2vol'] + df_test['bid3vol'] + df_test['bid4vol'] + df_test['bid5vol'])
df_test['avg_ask'] = (df_test['ask1'] * df_test['ask1vol'] + df_test['ask2'] * df_test['ask2vol'] + df_test['ask3'] * df_test['ask3vol'] + df_test['ask4'] * df_test['ask4vol'] + df_test['ask5'] * df_test['ask5vol']) / (df_test['ask1vol'] + df_test['ask2vol'] + df_test['ask3vol'] + df_test['ask4vol'] + df_test['ask5vol'])
df_test['diff_avg_bid'] = (df_test['mid'] - df_test['avg_bid'])
df_test['diff_avg_ask'] = (df_test['mid'] - df_test['avg_ask'])

df = pd.DataFrame() 
df['ab'] = df_test['avg_bid']
df['aa'] = df_test['avg_ask']
df['dab'] = df_test['diff_avg_bid']
df['daa'] = df_test['diff_avg_ask']
df['diff'] = df_test['diff']


df['best_offer_vol_diff'] = df_test['bid1vol'] - df_test['ask1vol']
df['avg_best_offer'] = (df_test['bid1'] * df_test['bid1vol'] + df_test['ask1'] * df_test['ask1vol']) / (df_test['bid1vol'] + df_test['ask1vol'])
df['mid_avg_best_offer_diff'] = df_test['mid'] - df['avg_best_offer']
df['last_price_avg_best_offer_diff'] = df_test['last_price'] - df['avg_best_offer']


df = df.drop(['aa','ab','avg_best_offer'],axis=1)

probbs = eclf1.predict_proba(df)
df_test['Predicted'] = probbs[:, 1]
header = ["id", "Predicted"]
df_test.to_csv('output.csv', columns = header,index=False)

In [0]:
df_test

            id  last_price     mid  ...  diff_avg_bid  diff_avg_ask  Predicted
0       592380      5178.4  5178.3  ...      0.341667     -0.638462   0.569495
1       592381      5133.0  5132.9  ...      0.712500     -0.406667   0.248309
2       592382      5177.4  5178.0  ...      1.264706     -1.136842   0.424953
3       592383      5093.6  5093.9  ...      1.023810     -1.166667   0.506372
4       592384      5189.2  5189.2  ...      0.830769     -1.461538   0.419954
...        ...         ...     ...  ...           ...           ...        ...
191854  784234      5150.6  5150.8  ...      0.613333     -0.960000   0.474732
191855  784235      5122.6  5122.7  ...      0.866667     -0.440741   0.224077
191856  784236      5192.8  5192.3  ...      1.066667     -0.700000   0.470837
191857  784237      5152.0  5151.9  ...      0.730000     -0.300000   0.328646
191858  784238      5200.0  5200.3  ...      1.130769     -0.940000   0.319461

[191859 rows x 33 columns]

In [0]:
check = pd.read_csv('output.csv')

In [0]:
check

            id  Predicted
0       592380   0.569495
1       592381   0.248309
2       592382   0.424953
3       592383   0.506372
4       592384   0.419954
...        ...        ...
191854  784234   0.474732
191855  784235   0.224077
191856  784236   0.470837
191857  784237   0.328646
191858  784238   0.319461

[191859 rows x 2 columns]

In [0]:
c = pd.read_csv('output_firstensemble.csv')

In [0]:
import numpy as np
c['id'] = np.arange(592380,784239)

In [0]:
c

            id  Predicted
0       592380   0.528943
1       592381   0.383279
2       592382   0.406979
3       592383   0.415792
4       592384   0.376995
...        ...        ...
191854  784234   0.379256
191855  784235   0.209356
191856  784236   0.473233
191857  784237   0.391470
191858  784238   0.354110

[191859 rows x 2 columns]

In [0]:
c.to_csv('output_first_with.csv')